<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>
      <div class="row text-center">
        <div class="col-sm-4">
            <i class="fa fa-desktop" style="font-size:72px;color:blue"></i>
            <p>Provision Desktop</p>
            <button type="submit" class="btn btn-warning btn-lg">Click to connect</button>
      </div>
      <div class="col-sm-4">
        <p>IP: <%= displayName %></p>
      </div>
    </div>
</body>
<% include partials/script %>

</html>