<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>
      <div class="row text-center">
        <div class="col-sm-4">
            <i class="fa fa-desktop" style="font-size:72px;color:blue"></i>
            <p><%= displayName %></p>
      </div>
    </div>
</body>
<% include partials/script %>

</html>