<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/navbar %>
  <div class="container-fluid bg-3 text-center">
    <h3>
      <%= page %>
    </h3>
    <br>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <% include partials/login %>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
  <% include partials/script %>
</body>

</html>